<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @repository.name %>
</p>

<p>
  <b>Url:</b>
  <%= @repository.url %>
</p>

<p>There are <%= @commits.length %> Commits</p>

<ul>
  <% @commits.each do |commit| %>
  <li><%= commit.hash_id %> - <%= commit.message %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_repository_path(@repository) %> |
<%= link_to 'Back', repositories_path %>
